{% extends "bootstrap/base.html" %}
{% block title %}Check your cookies{% endblock %}
{% block styles %}
{{super()}}
<style>
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.only-ok, .only-notok, .start-hidden {
	display: none;
}
.score-ok .only-ok, .score-notok .only-notok {
	display: block;
}

.verybig {
	font-size: 250%;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="row">
        <div class="col-md-4 jumbotron vcenter">
            <h1>Check the cookie law</h1>
            <p>This tool will help you check any website's compliance with the EU cookie law, analyzing
            cookies and auto-detecting browser banner.</p>
            <p>Its goal is to be a valid "assistant" to visitors, web developers and regulators</p>
        </div><div class="col-md-8 vcenter">
            <form id="pagecheck">
                <div class="col-md-10">
                    <label class="sr-only">The URL you want to check</label>
                    <input type="url" id="pagecheck-url" name="url" class="form-control input-lg" placeholder="http://www.yourdomain.net/" />
                </div>
                <input type="hidden" name="move" value="0" />
                <button type="submit" class="btn input-lg">Check</button>
            </form>
        </div>
    </div>
    <div class="row alert" id="result-row">
	    <div class="col-md-8"><p id="result-rationale"></p></div>
	    <div class="col-md-4 verybig"><i class="glyphicon glyphicon-warning-sign only-notok"></i><i class="glyphicon glyphicon-ok only-ok"></i></div>
    </div>
    <div class="row" id="summary-row">
        <table class="table start-hidden">
            <thead>
                <tr><th>Technology</th><th>Usage</th></tr>
            </thead>
            <tbody>
                <tr id="summary-banner"><td>Banner</td><td class="summary-value"></td></tr>
                <tr id="summary-cookie"><td>Tracking cookies</td><td class="summary-value"></td></tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{%block scripts%}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='ui.js') }}">
</script>
{% endblock %}
